body{
  background-color: #0b2239;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e293b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d9bf0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0094f8;
}